function Main.main 4
push constant 2
call Vint.new 1
pop local 0
push constant 2
call Vint.new 1
pop local 1
push constant 2
call Vint.new 1
pop local 2
push constant 2
call Vint.new 1
pop local 3
push local 0
push constant 0
push constant 2
call Vint.set 3
pop temp 0
push local 0
push constant 1
push constant 5
call Vint.set 3
pop temp 0
push local 0
push constant 2
push constant 7
call Vint.set 3
pop temp 0
push local 0
push constant 3
push constant 1
call Vint.set 3
pop temp 0
push local 1
push constant 0
push constant 2
call Vint.set 3
pop temp 0
push local 1
push constant 1
push constant 5
call Vint.set 3
pop temp 0
push local 1
push constant 2
push constant 7
call Vint.set 3
pop temp 0
push local 1
push constant 3
push constant 1
call Vint.set 3
pop temp 0
push local 2
push constant 0
push constant 1
call Vint.set 3
pop temp 0
push local 2
push constant 1
push constant 2
call Vint.set 3
pop temp 0
push local 2
push constant 2
push constant 5
call Vint.set 3
pop temp 0
push local 2
push constant 3
push constant 7
call Vint.set 3
pop temp 0
push local 3
push constant 0
push constant 5
call Vint.set 3
pop temp 0
push local 3
push constant 1
push constant 15
call Vint.set 3
pop temp 0
push local 3
push constant 2
push constant 20
call Vint.set 3
pop temp 0
push local 3
push constant 3
push constant 30
call Vint.set 3
pop temp 0
push local 0
call Vint.print 1
pop temp 0
push local 1
call Vint.print 1
pop temp 0
push local 2
call Vint.print 1
pop temp 0
push local 3
call Vint.print 1
pop temp 0
push local 0
push local 1
call Vint.is_eq 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 2
call Vint.is_eq 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 2
call Vint.elems 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
push local 3
call Vint.elems 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
