sp
call main.Main 0
ep

function Main 0
	push constant 2
    push constant 4
    push constant 7
    call mid.mid 3
	pop static 0
    push constant 8
    call fibonacci.fibonacci 1
	pop static 1
    push constant 6
    push constant 4
    call divnmod.div 2
	pop static 2
    push constant 6
    push constant 4 
    call divnmod.mod 2
	pop static 3
	return
label END
	goto END